@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="form-group row">
    <label for="userInput" class="col-2 col-form-label">User</label>
    <div class="col col-sm-6">
        <input id="userInput" class="form-control" />
    </div>
</div>

<div class="form-group row">
    <label for="message" class="col-2 col-form-label">Message</label>
    <div class="col col-sm-6">
        <input id="messageInput" class="form-control" />
    </div>
</div>

<button id="send" type="button" class="btn btn-primary">Send Message</button>

<button id="serversend" type="button" class="btn btn-primary">server Send Message</button>

<hr>

<ul id="messageList"></ul>

@section Scripts
{
    <script src="~/lib/signalr/signalr.js"></script>
    <script type="text/javascript">
        function ajax_call({
            url,
            done,
            fault = null,
            type = 'GET',
            data = null,
            contentType = 'application/x-www-form-urlencoded; charset=UTF-8'
            }) {
            $.ajax({
                type:type,
                url:url,
                data: data,
                contentType : contentType,
                //beforeSend: function (xhr) {
                //    xhr.setRequestHeader("XSRF-TOKEN",
                //        $('input:hidden[name="__RequestVerificationToken"]').val());
                //},
            }).done(function(data, textStatus, xhr){
                if(done){
                    done(data,textStatus,xhr);
                }
            }).fail(function(data, textStatus, errorThrown){
                if(fault){
                    fault(data,textStatus,errorThrown);
                }
            }) ;
        } ;



        $(function(){
            const connection = new signalR.HubConnectionBuilder()
                .withUrl("/chathub")
                .configureLogging(signalR.LogLevel.Information)
                .build();
            
            connection.on('ReceiveMessage', (user, message) => {
                const li = $('<li></li>');
                $(li).text(`${user}: ${message}`);
                $('#messageList').append(
                    $(li)
                ) ;
            }) ;

            $('#send').click( async () =>{
                try {
                    await connection.invoke('SendMessage', 
                            $('#userInput').val(), 
                            $('#messageInput').val()
                        );
                } catch (err) {
                    console.error(err) ;
                }
            }) ;

            $('#serversend').click( async () =>{
                ajax_call({
                    type: "GET",
                    url: '/?handler=Send',
                    done: function (data, textStatus, xhr) {

                    },
                });
            }) ;

            async function start(){
                try {
                    await connection.start();
                    console.log('SignalR connected.') ;
                } catch (err){
                    console.error(err);
                    setTimeout(start,5000) ;
                }
            }

            connection.onclose(async () => {
                await start() ;
            }) ;

            start() ;
        }) ;
    </script>
}